div.layout-bookpro{
    margin: 0;
    padding: 0;
}

header{
    margin: 0px 0px 15px 0px;
    padding: 0px;
   
}
nav{
     background: #337ab7;
}

nav a{
    color:#fff;
}

main{
    margin:75px 0px;
}

aside.nav-navigation{
    border:1px solid #337ab7;
    border-radius:4px; 
}

.underligne-bookpro{
    text-decoration: underline;
}

/**
 * Part of form
 */
.form-wrap{
    width:460px;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid #337ab7;
    padding: 10px;
   
}

form h4{
    border-bottom: 1px solid #337ab7; 
    padding-bottom: 4px;
}

.bookpro-wrap{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: auto;
}

div.block-table{
    box-sizing: border-box;
}

